- @movies.sort_by { |movie| movie.title }.each_with_index do |movie, i|
  %tr
    %td= i+1
    %td= movie.title
    %td= movie.rating
    %td= movie.release_date
    %td= link_to "More about #{movie.title}", movie_path(movie)
