%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %header= link_to 'RottenPotatoes', movies_path
    .container-fluid
      - if current_user
        Hello #{current_user.email}
        - if current_user.image.present?
          %img(src="#{current_user.image}")
        %p=link_to 'Logout', destroy_user_session_path, method: :delete

      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
    #main
      = yield
